<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Nova Concessionária</title>
</head>

<!-- page content -->
<div layout:fragment="content">
    <div class="page-title">
        <div class="title_left">
            <h3>Concessionárias</h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                          </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <a class="btn" th:href="@{/concessionarias}">
                        <i class="fa fa-arrow-left"></i>
                        <span th:remove="tag" th:text="#{messages.views.return}">Return</span>
                    </a>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <!--/*@thymesVar id="concessionaria" type="br.com.imerljak.concessionarias.entity.Concessionaria"*/-->
                    <form class="form-horizontal form-label-left"
                          th:action="@{/concessionarias/adicionar}"
                          th:object="${concessionaria}"
                          method="post"
                          novalidate>

                        <span class="section">Dados Gerais</span>

                        <div class="item form-group" th:classappend="${#fields.hasErrors('nome')?'has-error':''}">
                            <label class="control-label col-sm-2 col-xs-12" for="nome">Nome
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="nome" class="form-control col-md-7 col-xs-12"
                                       th:field="*{nome}" placeholder="Distribuidora de Água Ltda."
                                       autofocus
                                       required="required" type="text">
                            </div>
                            <div class="help-block col-md-4" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
                                Erros de validação
                            </div>
                        </div>
                        <div class="item form-group" th:classappend="${#fields.hasErrors('cnpj')?'has-error':''}">
                            <label class="control-label col-sm-2 col-xs-12" for="cnpj">Cnpj
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="cnpj" th:field="*{cnpj}" required="required"
                                       placeholder="00.000.000/0000-00"
                                       data-inputmask="'mask': '99.999.999/9999-99'"
                                       class="form-control col-md-7 col-xs-12">
                            </div>
                            <div class="help-block col-md-4" th:if="${#fields.hasErrors('cnpj')}" th:errors="*{cnpj}">
                                Erros de validação
                            </div>
                        </div>
                        <div class="item form-group" th:classappend="${#fields.hasErrors('endereco')?'has-error':''}">
                            <label class="control-label col-sm-2 col-xs-12" for="endereco">Endereço</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="endereco" th:field="*{endereco}" required="required"
                                       placeholder="Rua do Brasil, 1234"
                                       class="form-control col-md-7 col-xs-12">
                            </div>
                            <div class="help-block col-md-4" th:if="${#fields.hasErrors('endereco')}"
                                 th:errors="*{endereco}">
                                Erros de validação
                            </div>
                        </div>
                        <div class="item form-group" th:classappend="${#fields.hasErrors('telefone')?'has-error':''}">
                            <label class="control-label col-sm-2 col-xs-12" for="telefone">Telefone</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="tel" id="telefone" th:field="*{telefone}" required="required"
                                       data-masktype="tel"
                                       placeholder="(55) 3210-6543"
                                       class="form-control col-md-7 col-xs-12">
                            </div>
                            <div class="help-block col-md-4" th:if="${#fields.hasErrors('telefone')}"
                                 th:errors="*{telefone}">
                                Erros de validação
                            </div>
                        </div>


                        <span class="section">Representante</span>
                        <div th:each="representante, row : *{representantes}">
                            <div class="item form-group"
                                 th:classappend="${#fields.hasErrors('representantes['+row.index+'].nome')?'has-error':''}">
                                <label th:for="${'representantes['+row.index+'].nome'}"
                                       class="control-label col-sm-2 col-xs-12">Nome
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input th:id="${'representantes['+row.index+'].nome'}" type="text"
                                           class="form-control col-md-7 col-xs-12"
                                           required="required"
                                           th:field="*{representantes[__${row.index}__].nome}"
                                           th:placeholder="'Fulano da Silva __${row.index}__'">
                                </div>
                                <div class="help-block col-md-4"
                                     th:if="${#fields.hasErrors('representantes[__${row.index}__].nome')}"
                                     th:errors="*{representantes[__${row.index}__].nome}">
                                    Erros de validação
                                </div>
                            </div>
                            <div class="item form-group"
                                 th:classappend="${#fields.hasErrors('representantes['+row.index+'].cargo')?'has-error':''}">
                                <label th:for="${'representantes[__${row.index}__].cargo'}"
                                       class="control-label col-sm-2 col-xs-12">Cargo
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input th:id="${'representantes['+row.index+'].cargo'}" type="text"
                                           class="form-control col-md-7 col-xs-12"
                                           required="required"
                                           th:field="*{representantes[__${row.index}__].cargo}" placeholder="Gerente">
                                </div>
                                <div class="help-block col-md-4"
                                     th:if="${#fields.hasErrors('representantes[__${row.index}__].cargo')}"
                                     th:errors="*{representantes[__${row.index}__].cargo}">
                                    Erros de validação
                                </div>
                            </div>
                            <div class="item form-group"
                                 th:classappend="${#fields.hasErrors('representantes['+row.index+'].email')?'has-error':''}">
                                <label th:for="${'representantes['+row.index+'].email'}"
                                       class="control-label col-sm-2 col-xs-12">Email</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input th:id="${'representantes[__${row.index}__].email'}" type="email"
                                           class="form-control col-md-7 col-xs-12"
                                           th:field="*{representantes[__${row.index}__].email}"
                                           placeholder="email@empresa.com">
                                </div>
                                <div class="help-block col-md-4"
                                     th:if="${#fields.hasErrors('representantes[__${row.index}__].email')}"
                                     th:errors="*{representantes[__${row.index}__].email}">
                                    Erros de validação
                                </div>
                            </div>
                            <div class="item form-group"
                                 th:classappend="${#fields.hasErrors('representantes['+row.index+'].telefone')?'has-error':''}">
                                <label th:for="${'representantes[__${row.index}__].telefone'}"
                                       class="control-label col-sm-2 col-xs-12">Telefone</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input th:id="${'representantes[__${row.index}__].telefone'}" type="tel"
                                           class="form-control col-md-7 col-xs-12"
                                           th:field="*{representantes[__${row.index}__].telefone}"
                                           data-masktype="tel"
                                           placeholder="(55) 9876-12349">
                                </div>
                                <div class="help-block col-md-4"
                                     th:if="${#fields.hasErrors('representantes[__${row.index}__].telefone')}"
                                     th:errors="*{representantes[__${row.index}__].telefone}">
                                    Erros de validação
                                </div>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <button id="send" type="submit" class="btn btn-success pull-right"
                                        th:text="#{messages.forms.confirm}">Confirm
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
