<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Usuários</title>
</head>

<!-- page content -->
<div layout:fragment="content">
    <div class="page-title">
        <div class="title_left">
            <h3>Usuários</h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                          </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <a class="btn" th:href="@{/concessionarias}"><i class="fa fa-arrow-left"></i> Retornar</a>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <!--/*@thymesVar id="concessionaria" type="br.com.imerljak.concessionarias.entity.Concessionaria"*/-->
                    <form class="form-horizontal form-label-left"
                          th:href="@{/concessionarias/adicionar}"
                          th:object="${concessionaria}"
                          method="post"
                          novalidate>

                        <span class="section">Dados Gerais</span>

                        <div class="item form-group" th:classappend="${#fields.hasErrors('nome')?'has-error':''}">
                            <label class="control-label col-sm-2 col-xs-12" for="nome">Nome
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="nome" class="form-control col-md-7 col-xs-12"
                                       th:field="*{nome}" placeholder="Distribuidora de Água Ltda."
                                       required="required" type="text">
                            </div>
                            <div class="help-block col-md-4" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
                                Erros de validação
                            </div>
                        </div>
                        <div class="item form-group" th:classappend="${#fields.hasErrors('cnpj')?'has-error':''}">
                            <label class="control-label col-sm-2 col-xs-12" for="cnpj">Cnpj
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="cnpj" th:field="*{cnpj}" required="required"
                                       placeholder="00.000.000/0000-00"
                                       class="form-control col-md-7 col-xs-12">
                            </div>
                            <div class="help-block col-md-4" th:if="${#fields.hasErrors('cnpj')}" th:errors="*{cnpj}">
                                Erros de validação
                            </div>
                        </div>
                        <div class="item form-group" th:classappend="${#fields.hasErrors('endereco')?'has-error':''}">
                            <label class="control-label col-sm-2 col-xs-12" for="endereco">Endereço</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="endereco" th:field="*{endereco}" required="required"
                                       class="form-control col-md-7 col-xs-12">
                            </div>
                            <div class="help-block col-md-4" th:if="${#fields.hasErrors('endereco')}"
                                 th:errors="*{endereco}">
                                Erros de validação
                            </div>
                        </div>
                        <div class="item form-group" th:classappend="${#fields.hasErrors('telefone')?'has-error':''}">
                            <label class="control-label col-sm-2 col-xs-12" for="telefone">Telefone</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="tel" id="telefone" th:field="*{telefone}" required="required"
                                       class="form-control col-md-7 col-xs-12">
                            </div>
                            <div class="help-block col-md-4" th:if="${#fields.hasErrors('telefone')}"
                                 th:errors="*{telefone}">
                                Erros de validação
                            </div>
                        </div>


                        <span class="section">Representantes</span>
                        <div th:each="representante, row : *{representantes}">
                            <div class="item form-group">
                                <label th:for="${'representantes['+row.index+'].nome'}"
                                       class="control-label col-sm-2 col-xs-12">Nome
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input th:id="${'representantes['+row.index+'].nome'}" type="text"
                                           class="form-control col-md-7 col-xs-12"
                                           required="required"
                                           th:field="*{representantes[__${row.index}__].nome}" placeholder="Nome">
                                </div>
                                <div class="help-block col-md-4"
                                     th:if="${#fields.hasErrors('representantes['+row.index+'].nome')}"
                                     th:errors="*{telefone}">
                                    Erros de validação
                                </div>
                            </div>
                            <div class="item form-group">
                                <label th:for="${'representantes['+row.index+'].cargo'}"
                                       class="control-label col-sm-2 col-xs-12">Cargo
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input th:id="${'representantes['+row.index+'].cargo'}" type="text"
                                           class="form-control col-md-7 col-xs-12"
                                           required="required"
                                           th:field="*{representantes[__${row.index}__].cargo}" placeholder="Cargo">
                                </div>
                                <div class="help-block col-md-4" th:if="${#fields.hasErrors('telefone')}"
                                     th:errors="*{telefone}">
                                    Erros de validação
                                </div>
                            </div>
                            <div class="item form-group">
                                <label th:for="${'representantes['+row.index+'].email'}"
                                       class="control-label col-sm-2 col-xs-12">Email</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input th:id="${'representantes['+row.index+'].email'}" type="email"
                                           class="form-control col-md-7 col-xs-12"
                                           th:field="*{representantes[__${row.index}__].email}" placeholder="Email">
                                </div>
                                <div class="help-block col-md-4" th:if="${#fields.hasErrors('telefone')}"
                                     th:errors="*{telefone}">
                                    Erros de validação
                                </div>
                            </div>
                            <div class="item form-group">
                                <label th:for="${'representantes['+row.index+'].telefone'}"
                                       class="control-label col-sm-2 col-xs-12">Telefone</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input th:id="${'representantes['+row.index+'].telefone'}" type="tel"
                                           class="form-control col-md-7 col-xs-12"
                                           th:field="*{representantes[__${row.index}__].telefone}"
                                           placeholder="Telefone">
                                </div>
                                <div class="help-block col-md-4" th:if="${#fields.hasErrors('telefone')}"
                                     th:errors="*{telefone}">
                                    Erros de validação
                                </div>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <button type="submit" class="btn btn-primary">Cancelar</button>
                                <button id="send" type="submit" class="btn btn-success">Registrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
