<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Concessionárias</title>
</head>

<!-- page content -->
<div layout:fragment="content" th:remove="tag">

    <div class="row">
        <div class="col-md 12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Lista de Concessionárias</h4>
                    <p class="class-category">Concessionárias cadastradas no sistema.</p>
                    <a th:href="@{/concessionarias/adicionar}" class="btn">
                        <i class="fas fa-plus"></i> Nova Concessionária
                    </a>
                </div>

                <div class="card-body table-responsive" th:if="${not #lists.isEmpty(concessionarias)}">
                    <table class="table full-witdh table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>CNPJ</th>
                            <th>Telefone/Email</th>
                            <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="concessionaria : ${concessionarias}" th:object="${concessionaria}">
                            <td th:text="*{nome}"></td>
                            <td th:text="*{cnpj}"></td>
                            <td th:text="*{telefone} + (*{email != null} ? '/' + *{email} : '')"></td>
                            <td class="td-actions text-right">
                                <a href=""
                                   class="btn btn-info btn-link btn-xs"
                                   rel="tooltip"
                                   data-original-title="Ver Concessionária">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a th:href="@{/concessionarias/editar/{id}(id=*{id})}"
                                   class="btn btn-success btn-link btn-xs"
                                   rel="tooltip"
                                   data-original-title="Editar Concessionária">
                                    <i class="fa fa-edit"></i>
                                </a>

                                <form th:method="delete" class="d-inline deleteForm"
                                      th:object="${concessionaria}"
                                      th:action="@{/concessionarias/remover}">

                                    <input type="hidden" th:name="id" th:value="*{id}">
                                    <input type="hidden" th:name="version" th:value="*{versao}">

                                    <button type="submit" class="btn btn-danger btn-link btn-xs" rel="tooltip"
                                            data-original-title="Remover Concessionária">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </form>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav th:replace="~{fragments/pagination-fragment :: pagination (page=${concessionarias}, url='/concessionarias')}"></nav>
                </div>
            </div>
        </div>
    </div>
</div>

<template layout:fragment="scripts">

    <script>

        window.onload = (function () {

            var preventDelete = true;
            $(".deleteForm").submit(function (evt) {

                if (preventDelete) {
                    evt.preventDefault();

                    var that = $(this);

                    swal({
                        title: "Tem certeza?",
                        text: "Esta ação não pode ser desfeita!",
                        type: "warning",
                        // timer: 10000,
                        allowEnterKey: false,
                        showConfirmButton: true,
                        confirmButtonText: "Confirmar",
                        showCancelButton: true,
                        cancelButtonText: "Cancelar",
                        focusCancel: true
                    })
                        .then(function (result) {
                            if (result.dismiss === swal.DismissReason.timer) {
                                swal({
                                    type: "info",
                                    text: "Ação cancelada!",
                                    timer: 1500,
                                    showConfirmButton: false
                                })
                            }

                            if (result.value) {
                                preventDelete = false;
                                that.submit();
                            }
                        });
                } else {
                    preventDelete = true;
                }
            });
        })
    </script>
</template>

<!-- /page content -->