<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Editar Concessionária</title>
</head>

<!-- page content -->
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <form id="wizardForm" class="form-horizontal form-label-left"
                  th:action="@{/concessionarias/editar}"
                  th:object="${concessionaria}"
                  th:method="put"
                  novalidate>
                <a th:href="@{/concessionarias}" class="btn">
                    <i class="fa fa-arrow-left"></i> Lista de Concessionárias
                </a>


                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{versao}">

                <div class="card card-wizard">
                    <div class="card-header">
                        <h4 class="card-title">Nova Concessionária</h4>
                    </div>


                    <div class="card-body pr-md-5 pl-md-5">
                        <h5 class="card-title">Dados Gerais</h5>
                        <hr>

                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group has-label"
                                     th:classappend="${#fields.hasErrors('nome')?'has-error':''}">
                                    <label for="nome">Nome
                                        <span class="star">*</span>
                                    </label>
                                    <input id="nome" class="form-control"
                                           th:field="*{nome}" placeholder="Distribuidora de Água Ltda."
                                           autofocus
                                           required="required" type="text">
                                    <label class="error" th:if="${#fields.hasErrors('nome')}"
                                           th:errors="*{nome}">
                                        Informe um nome
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group has-label"
                                     th:classappend="${#fields.hasErrors('cnpj')?'has-error':''}">
                                    <label for="cnpj">Cnpj
                                        <span class="star">*</span>
                                    </label>
                                    <input type="text" id="cnpj" th:field="*{cnpj}" required="required"
                                           placeholder="00.000.000/0000-00"
                                           data-inputmask="'mask': '99.999.999/9999-99'"
                                           class="form-control">
                                    <label class="error" th:if="${#fields.hasErrors('cnpj')}"
                                           th:errors="*{cnpj}">
                                        Erros de validação
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group has-label"
                                     th:classappend="${#fields.hasErrors('telefone')?'has-error':''}">
                                    <label for="telefone">Telefone</label>
                                    <input type="tel" id="telefone" th:field="*{telefone}" required="required"
                                           data-masktype="tel"
                                           placeholder="(55) 3210-6543"
                                           class="form-control">
                                    <label class="error" th:if="${#fields.hasErrors('telefone')}"
                                           th:errors="*{telefone}">
                                        Erros de validação
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group has-label"
                                     th:classappend="${#fields.hasErrors('endereco')?'has-error':''}">
                                    <label for="endereco">Endereço</label>
                                    <input type="text" id="endereco" th:field="*{endereco}" required="required"
                                           placeholder="Rua do Brasil, 1234"
                                           class="form-control">
                                    <label class="error" th:if="${#fields.hasErrors('endereco')}"
                                           th:errors="*{endereco}">
                                        Erros de validação
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card-body pr-md-5 pl-md-5">

                        <h5 class="card-title">Dados Representantes</h5>
                        <hr>

                        <div th:each="representante, row : *{representantes}">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-label"
                                         th:classappend="${#fields.hasErrors('representantes['+row.index+'].nome')?'has-error':''}">
                                        <label th:for="${'representantes['+row.index+'].nome'}">Nome
                                            <span class="star">*</span>
                                        </label>
                                        <input th:id="${'representantes['+row.index+'].nome'}" type="text"
                                               class="form-control"
                                               required="required"
                                               th:field="*{representantes[__${row.index}__].nome}"
                                               th:placeholder="'Fulano da Silva __${row.index}__'">
                                        <label class="error"
                                               th:if="${#fields.hasErrors('representantes[__${row.index}__].nome')}"
                                               th:errors="*{representantes[__${row.index}__].nome}">
                                            Erros de validação
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-label"
                                         th:classappend="${#fields.hasErrors('representantes['+row.index+'].cargo')?'has-error':''}">
                                        <label th:for="${'representantes[__${row.index}__].cargo'}">Cargo
                                            <span class="star">*</span>
                                        </label>
                                        <input th:id="${'representantes['+row.index+'].cargo'}" type="text"
                                               class="form-control"
                                               required="required"
                                               th:field="*{representantes[__${row.index}__].cargo}"
                                               placeholder="Gerente">
                                        <label class="error"
                                               th:if="${#fields.hasErrors('representantes[__${row.index}__].cargo')}"
                                               th:errors="*{representantes[__${row.index}__].cargo}">
                                            Erros de validação
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-label"
                                         th:classappend="${#fields.hasErrors('representantes['+row.index+'].email')?'has-error':''}">
                                        <label th:for="${'representantes['+row.index+'].email'}">Email</label>
                                        <input th:id="${'representantes[__${row.index}__].email'}" type="email"
                                               class="form-control"
                                               th:field="*{representantes[__${row.index}__].email}"
                                               placeholder="email@empresa.com">
                                        <label class="error"
                                               th:if="${#fields.hasErrors('representantes[__${row.index}__].email')}"
                                               th:errors="*{representantes[__${row.index}__].email}">
                                            Erros de validação
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-label"
                                         th:classappend="${#fields.hasErrors('representantes['+row.index+'].telefone')?'has-error':''}">
                                        <label th:for="${'representantes[__${row.index}__].telefone'}">Telefone</label>
                                        <input th:id="${'representantes[__${row.index}__].telefone'}" type="tel"
                                               class="form-control"
                                               th:field="*{representantes[__${row.index}__].telefone}"
                                               data-masktype="tel"
                                               placeholder="(55) 9876-12349">
                                        <label class="error"
                                               th:if="${#fields.hasErrors('representantes[__${row.index}__].telefone')}"
                                               th:errors="*{representantes[__${row.index}__].telefone}">
                                            Erros de validação
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer text-center">
                        <input class="btn btn-wd pull-right btn-default btn-finish" type="submit"
                               value="Alterar"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<template layout:fragment="scripts">
    <!--  Bootstrap Select  -->
    <script th:src="@{/webjars/bootstrap-select/1.12.4/dist/js/bootstrap-select.min.js}"
            type="text/javascript"></script>

    <!--  jQueryValidate  -->
    <script th:src="@{/webjars/jquery-validation/1.17.0-1/jquery.validate.min.js}"
            type="text/javascript"></script>

    <!-- InputMask -->
    <script th:src="@{/webjars/jquery.inputmask/3.3.1/jquery.inputmask.bundle.js}"
            type="text/javascript"></script>
</template>
<!-- /page content -->
