<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Concessionárias</title>
</head>

<!-- page content -->
<!--/*@thymesVar id="concessionaria" type="br.com.imerljak.concessionarias.model.Concessionaria"*/-->
<template layout:fragment="content" th:object="${concessionaria}">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" th:text="*{nome}">Concessionária X</h4>
                    <p class="card-category" th:text="*{cnpj}">111.23123.231/1223-33</p>
                </div>
                <div class="card-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a id="d-tab" class="nav-link active" href="#detalhes" data-toggle="tab">Detalhes</a>
                        </li>
                        <li class="nav-item">
                            <a id="p-tab" class="nav-link" href="#processos" data-toggle="tab">Processos</a>
                        </li>
                        <li class="nav-item">
                            <a id="o-tab" class="nav-link" href="#ouvidorias" data-toggle="tab">Ouvidorias</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="tabs">
                        <div id="detalhes" class="tab-pane fade active show">
                            <h1>Detalhes</h1>
                        </div>
                        <div id="processos" class="tab-pane fade">
                            <paged-table
                                    th:attr="'url'=${'/api/processos/byConcessionaria/' + concessionaria.id}"
                                    columns='[
                                     {"index": "protocolo", "name": "Protocolo"},
                                     {"index": "dataCriacao", "name": "Data", "date": "true"},
                                     {"index": "tipo", "name": "Tipo"},
                                     {"index": "situacao", "name": "Situação"}
                                             ]'>
                                <template slot="empty-message">Nenhum processo encontrado.</template>
                            </paged-table>
                        </div>
                        <div id="ouvidorias" class="tab-pane fade">
                            <paged-table
                                    th:attr="'url'=${'/api/ouvidorias/byConcessionaria/' + concessionaria.id}"
                                    columns='[
                                     {"index": "protocolo", "name": "Protocolo"},
                                     {"index": "dataCriacao", "name": "Data", "date": "true"},
                                     {"index": "tipo", "name": "Tipo"},
                                     {"index": "situacao", "name": "Situação"}
                                             ]'>
                                <template slot="empty-message">Nenhuma ouvidoria encontrada.</template>
                            </paged-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template layout:fragment="scripts">
    <script th:src="@{/assets/js/vue.js}"></script>
    <script th:src="@{/assets/js/plugins/moment.min.js}"></script>
    <script th:src="@{/assets/js/vue/components.js}"></script>

    <script th:inline="javascript">
        var ouvidorias = new Vue({
            el: "#tabs"
        });

    </script>
</template>
<!-- /page content -->
