<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
      th:with="pageTitle=${'Usuários'}">
<head>
    <title>Usuários</title>
</head>

<!-- page content -->
<div layout:fragment="content" th:remove="tag">

    <div class="row">
        <div class="col-md-12">

            <!--/*@thymesVar id="alert" type="br.com.imerljak.visao.AlertMessage"*/-->
            <div class="alert" th:if="${alert}" th:classappend="${alert.status.styleClass}"
                 th:text="${alert.message}"></div>

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Lista de Usuários</h4>
                    <p class="class-category">Usuários cadastrados no sistema.</p>

                    <a class="btn" th:href="@{/usuarios/adicionar}"><i class="fa fa-user-plus"></i> Novo Usuário</a>
                </div>

                <div class="card-body table-responsive">
                    <table class="table full-width table-hover table-striped" id="usuarios_table">
                        <thead>
                        <tr>
                            <th class="text-left">Nome</th>
                            <th class="text-left">Email</th>
                            <th class="text-center">Cargo(s)</th>
                            <th class="text-right">Ativo?</th>
                            <th class="text-right">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--/*@thymesVar id="usuarios" type="br.com.imerljak.usuarios.model.Usuario[]"*/-->
                        <tr th:each="usuario : ${usuarios}" th:classappend="${usuario.ativo ? '' : 'disabled'}">
                            <td class="text-left" th:text="${usuario.nome}"></td>
                            <td class="text-left" th:text="${usuario.email}"></td>
                            <td class="text-center" th:text="${#strings.listJoin(usuario.cargos, ', ')}">[Roles...]</td>
                            <td class="text-right" th:text="${usuario.ativo ? 'Sim' : 'Não'}"></td>
                            <td class="td-actions text-right">

                                <div class="dropdown">
                                    <a href="#" class="text-muted btn-block" type="button"
                                       th:id="'acoes-usuario' + ${usuario.id}" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        <span class="btn-label"><i class="fa fa-ellipsis-v"></i></span>
                                    </a>

                                    <div class="dropdown-menu"
                                         th:attr="aria-labelled-by='acoes-usuario-' + ${usuario.id}">

                                        <a href="#" th:href="@{usuarios/editar/{id}(id=${usuario.id})}"
                                           class="dropdown-item">
                                            <span class="btn-label text-info"><i class="fa fa-edit"></i></span>
                                            <span th:remove="tag" th:text="#{actions.edit('Usuário')}"></span>
                                        </a>

                                        <button type="button" class="dropdown-item"
                                                th:onclick="'$(\'#delete-usuario-' + ${usuario.id} + '\').submit()'">
                                            <span class="btn-label text-danger"><i class="fa fa-ban"></i></span>
                                            <span th:remove="tag" th:text="#{actions.disable('Usuário')}"></span>
                                        </button>

                                        <form th:id="'delete-usuario-' + ${usuario.id}"
                                              th:method="delete" class="d-inline deleteForm"
                                              th:object="${usuario}"
                                              th:action="@{/usuarios/remover}">

                                            <input type="hidden" th:name="id" th:value="*{id}">
                                            <input type="hidden" th:name="version" th:value="*{versao}">
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!--/*@thymesVar id="usuarios" type="org.springframework.data.domain.PageImpl<Usuario>"*/-->
                    <nav th:replace="~{fragments/pagination-fragment :: pagination (page=${usuarios}, url='/usuarios')}"></nav>
                </div>
            </div>
        </div>
    </div>
</div>

<template layout:fragment="scripts">
    <script>
        $(function () {

            var preventDelete = true;
            $(".deleteForm").submit(function (evt) {

                if (preventDelete) {
                    evt.preventDefault();

                    var that = $(this);

                    swal({
                        title: "Tem certeza?",
                        text: "Esta ação não pode ser desfeita!",
                        type: "warning",
                        // timer: 10000,
                        allowEnterKey: false,
                        showConfirmButton: true,
                        confirmButtonText: "Confirmar",
                        confirmButtonClass: "bg-danger",
                        showCancelButton: true,
                        cancelButtonText: "Cancelar",
                        focusCancel: true
                    })
                        .then(function (result) {
                            if (result.dismiss === swal.DismissReason.timer) {
                                swal({
                                    type: "info",
                                    text: "Ação cancelada!",
                                    timer: 1500,
                                    showConfirmButton: false
                                })
                            }

                            if (result.value) {
                                preventDelete = false;
                                that.submit();
                            }
                        });
                } else {
                    preventDelete = true;
                }
            });
        });
    </script>
</template>
<!-- /page content -->