<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Usuários</title>
</head>

<!-- page content -->
<div layout:fragment="content">
    <div class="page-title">
        <div class="title_left">
            <h3>Usuários
                <small>Lista de usuários cadastrados no sistema.</small>
            </h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <a class="btn" th:href="@{/usuarios/adicionar}"><i class="fa fa-user-plus"></i> Novo Usuário</a>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--/*@thymesVar id="usuarios" type="br.com.imerljak.usuarios.entity.Usuario[]"*/-->
                        <tr th:each="usuario : ${usuarios}">
                            <th scope="row" th:text="${usuario.id}">1</th>
                            <td th:text="${usuario.nome}">Mark</td>
                            <td th:text="${usuario.email}">Otto</td>
                            <td>
                                <form th:action="@{/usuarios/remover/{id}(id=${usuario.id})}">
                                    <button class="btn btn-danger" type="submit"><i class="fa fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--<script>
        window.onload = function () {
            new PNotify({
                title: "Teste",
                text: "Lorem ipsum...",
                type: 'success',
                styling: 'bootstrap3'
            });
        }
    </script>-->
</div>
<!-- /page content -->