<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Editar Usuário</title>
</head>

<!-- page content -->
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">


            <a class="btn" th:href="@{/usuarios}"><i class="fa fa-arrow-left"></i> Lista de Usuários</a>

            <!--/*@thymesVar id="usuario" type="br.com.imerljak.usuarios.entity.Usuario"*/-->
            <form id="RegisterValidation" class="form-horizontal form-label-left"
                  th:action="@{/usuarios/editar}"
                  th:object="${usuario}"
                  th:method="put"
                  novalidate>

                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{version}">

                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title">Editar Usuário</h4>
                    </div>
                    <div class="card-body ">

                        <div class="form-group has-label"
                             th:classappend="${#fields.hasErrors('nome')?'has-error':''}">
                            <label for="name">Nome
                                <star class="star">*</star>
                            </label>
                            <input id="name"
                                   class="form-control"
                                   th:field="*{nome}"
                                   placeholder="Fulano da Silva"
                                   required="required"
                                   type="text">
                            <label class="error" for="name" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
                                Please choose a username
                            </label>
                        </div>
                        <div class="form-group has-label"
                             th:classappend="${#fields.hasErrors('email')?'has-error':''}">
                            <label for="email">Email
                                <star class="star">*</star>
                            </label>
                            <input type="email"
                                   id="email"
                                   placeholder="seuemail@mail.com"
                                   th:field="*{email}"
                                   required="required"
                                   class="form-control">
                            <label class="error" for="email" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                                Please input a valid email.
                            </label>
                        </div>
                        <!--<div class="form-group has-label">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Confirma Email <span
                                    class="required">*</span>
                            </label>
                            ">
                                <input type="email" id="email2"
                                       name="confirm_email"
                                       placeholder="seuemail@mail.com"
                                       required="required"
                                       class="form-control">
                            </div>
                        </div>-->
                        <div class="card-category form-category">
                            <star class="star">*</star>
                            Required fields
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button type="submit" class="btn btn-info btn-fill pull-right" th:text="'Salvar'">Register
                        </button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- /page content -->
