<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Usuários</title>
</head>

<template layout:fragment="styles" th:remove="tag">
    <link rel="stylesheet" href="/webjars/github-com-jaxkodex-jQuery-Smart-Wizard/3.3.1/styles/smart_wizard.css">
</template>

<template layout:fragment="scripts" th:remove="tag">
    <script src="/webjars/github-com-jaxkodex-jQuery-Smart-Wizard/3.3.1/js/jquery.smartWizard.js"></script>
</template>

<!-- page content -->
<div layout:fragment="content">
    <div class="page-title">
        <div class="title_left">
            <h3>Usuários</h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                          </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <a class="btn" th:href="@{/usuarios}"><i class="fa fa-arrow-left"></i> Retornar</a>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <form class="form-horizontal form-label-left" novalidate>

                        <div id="wizard" class="swMain">

                            <!--Wizard header-->
                            <ul>
                                <li><a href="#step-1">
                                    <label class="stepNumber">1</label>
                                    <span class="stepDesc">
                                        Personal
                                    </span>
                                </a></li>

                                <li><a href="#step-2">
                                    <label class="stepNumber">1</label>
                                    <span class="stepDesc">
                                        Personal
                                    </span>
                                </a></li>
                                <li><a href="#step-3">
                                    <label class="stepNumber">1</label>
                                    <span class="stepDesc">
                                        Personal
                                    </span>
                                </a></li>
                            </ul>

                            <!--Wizard Content-->
                            <div id="step-1">
                                <span class="section">Personal Info</span>

                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span
                                            class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="name" class="form-control col-md-7 col-xs-12"
                                               data-validate-length-range="6"
                                               data-validate-words="2" name="name"
                                               placeholder="both name(s) e.g Jon Doe"
                                               required="required" type="text">
                                    </div>
                                </div>
                            </div>
                            <div id="step-2">
                                <span class="section">Other Info</span>

                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span
                                            class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="email" class="form-control col-md-7 col-xs-12"
                                               data-validate-length-range="6"
                                               data-validate-words="2" name="name"
                                               placeholder="both name(s) e.g Jon Doe"
                                               required="required" type="text">
                                    </div>
                                </div>
                            </div>
                            <div id="step-3">
                                <span class="section">Extra Info</span>

                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span
                                            class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="password" class="form-control col-md-7 col-xs-12"
                                               data-validate-length-range="6"
                                               data-validate-words="2" name="name"
                                               placeholder="both name(s) e.g Jon Doe"
                                               required="required" type="text">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
