<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Denuncias</title>
</head>

<!-- page content -->
<div layout:fragment="content" th:remove="tag">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Lista de Denuncias</h4>
                    <p class="class-category">Denuncias cadastradas no sistema.</p>

                    <a class="btn" th:href="@{/denuncias/adicionar}"><i class="fa fa-plus"></i> Nova Denuncia</a>
                </div>

                <div class="card-body table-full-width table-responsive">
                    <table class="table full-width table-hover table-striped" id="usuarios_table">
                        <thead>
                        <tr>
                            <th class="text-left">Data</th>
                            <th class="text-left">Concessionária</th>
                            <th class="text-center">Reclamação</th>
                            <th class="text-right">Local</th>
                            <th class="text-right">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="denuncia : ${denuncias}">
                            <td class="text-left" th:text="${denuncia.dataCriacao}"></td>
                            <td class="text-left" th:text="${denuncia.concessionaria.nome}"></td>
                            <td class="text-left" th:text="${denuncia.reclamacao}"></td>
                            <td class="text-left" th:text="${denuncia.localOcorrencia}"></td>
                            <td class="td-actions text-right">
                                <a href="#" class="btn btn-info btn-link btn-xs" rel="tooltip"
                                   data-original-title="Ver Denuncia">
                                    <i class="fa fa-user"></i>
                                </a>

                                <a href="#" th:href="@{denuncias/editar/{id}(id=${denuncia.id})}"
                                   class="btn btn-success btn-link btn-xs" rel="tooltip"
                                   data-original-title="Editar Denuncia">
                                    <i class="fa fa-edit"></i>
                                </a>

                                <form th:method="delete" class="d-inline"
                                      th:object="${denuncia}"
                                      th:action="@{/denuncia/remover}">

                                    <input type="hidden" th:name="id" th:value="*{id}">
                                    <input type="hidden" th:name="version" th:value="*{versao}">

                                    <button type="submit" class="btn btn-danger btn-link btn-xs" rel="tooltip"
                                            data-original-title="Remover Denuncia">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav th:replace="~{fragments/pagination-fragment :: pagination (page=${denuncias}, url='/denuncias')}"></nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->