<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Nova Denuncia</title>
</head>

<!-- page content -->
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">


            <a class="btn" th:href="@{/denuncias}"><i class="fa fa-arrow-left"></i> Lista de Denuncias</a>

            <!--/*@thymesVar id="denuncia" type="br.com.imerljak.denuncias.entity.Denuncia"*/-->
            <form id="RegisterValidation" class="form-horizontal form-label-left"
                  th:action="@{/denuncias/adicionar}"
                  th:object="${denuncia}"
                  th:method="patch"
                  enctype="multipart/form-data">

                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{versao}">

                <div class="card ">
                    <h4 th:text="*{protocolo}"></h4>
                    <hr>
                    <div class="card-header">
                        <h4 class="card-title">Concessionária</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group has-label">
                            <label for="concessionaria">Concessionária
                                <star class="star">*</star>
                            </label>
                            <select th:field="*{concessionaria}"
                                    class="form-control"
                                    id="concessionaria">
                                <option th:each="cons : ${concessionarias}"
                                        th:value="${cons.id}" th:text="${cons.nome}"></option>
                            </select>
                        </div>
                    </div>

                    <hr>
                    <div class="card-header ">
                        <h4 class="card-title">Dados Denunciante</h4>
                    </div>
                    <div class="card-body ">
                        <div class="form-group has-label"
                             th:classappend="${#fields.hasErrors('denunciante.nome')?'has-error':''}">
                            <label for="denunciante.nome">Nome</label>
                            <input type="text" class="form-control" id="denunciante.nome"
                                   th:field="*{denunciante.nome}">
                        </div>

                        <div class="form-group has-label"
                             th:classappend="${#fields.hasErrors('denunciante.email')?'has-error':''}">
                            <label for="denunciante.email">Email</label>
                            <input type="email" class="form-control" id="denunciante.email"
                                   th:field="*{denunciante.email}">
                        </div>

                        <div class="form-group has-label"
                             th:classappend="${#fields.hasErrors('denunciante.telefone')?'has-error':''}">
                            <label for="denunciante.telefone">Telefone</label>
                            <input type="text" class="form-control telefone" id="denunciante.telefone"
                                   th:field="*{denunciante.telefone}">
                        </div>
                    </div>

                    <hr>
                    <div class="card-header ">
                        <h4 class="card-title">Dados Denuncia</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group has-label"
                             th:classappend="${#fields.hasErrors('reclamacao')?'has-error':''}">
                            <label for="reclamacao">Reclamação
                                <star class="star">*</star>
                            </label>
                            <textarea id="reclamacao"
                                      class="form-control"
                                      th:field="*{reclamacao}"
                                      required="required"
                                      type="text"></textarea>
                            <label class="error" for="reclamacao" th:if="${#fields.hasErrors('reclamacao')}"
                                   th:errors="*{reclamacao}">
                                Please choose a username
                            </label>
                        </div>
                        <div class="form-group has-label"
                             th:classappend="${#fields.hasErrors('ocorrencia')?'has-error':''}">
                            <label for="ocorrencia">Ocorrência
                                <star class="star">*</star>
                            </label>
                            <textarea type="ocorrencia"
                                      id="ocorrencia"
                                      th:field="*{ocorrencia}"
                                      required="required"
                                      class="form-control"></textarea>
                            <label class="error" for="ocorrencia" th:if="${#fields.hasErrors('ocorrencia')}"
                                   th:errors="*{ocorrencia}">
                                Please input a valid email.
                            </label>
                        </div>
                        <div class="form-group has-label"
                             th:classappend="${#fields.hasErrors('dataOcorrencia')?'has-error':''}">
                            <label for="dataOcorrencia">
                                Data da Ocorrência
                                <star class="star">*</star>
                            </label>
                            <input id="dataOcorrencia"
                                   type="date"
                                   th:field="*{dataOcorrencia}"
                                   class="form-control"
                                   required="required">
                            <label class="error" for="dataOcorrencia" th:if="${#fields.hasErrors('dataOcorrencia')}"
                                   th:errors="*{dataOcorrencia}">
                                Please input a valid dataOcorrencia.
                            </label>
                        </div>
                        <div class="form-group has-label"
                             th:classappend="${#fields.hasErrors('localOcorrencia')?'has-error':''}">
                            <label for="localOcorrencia">
                                Local da Ocorrência
                                <star class="star">*</star>
                            </label>
                            <input id="localOcorrencia"
                                   type="text"
                                   th:field="*{localOcorrencia}"
                                   class="form-control"
                                   required="required">
                            <label class="error" for="localOcorrencia" th:if="${#fields.hasErrors('localOcorrencia')}"
                                   th:errors="*{localOcorrencia}">
                                Please input a valid localOcorrencia.
                            </label>
                        </div>
                        <div class="card-category form-category">
                            <star class="star">*</star>
                            Required fields
                        </div>
                    </div>

                    <hr>
                    <div class="card-header">
                        <h4 class="card-title">Anexos</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="file" name="anexos_files">
                        </div>
                    </div>

                    <div class="card-footer text-right">
                        <button type="submit" class="btn btn-info btn-fill pull-right" th:text="'Registrar'">Register
                        </button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<template layout:fragment="scripts" th:remove="tag">

    <!--  jQueryValidate  -->
    <script th:src="@{/webjars/jquery-validation/1.17.0-1/jquery.validate.min.js}"
            type="text/javascript"></script>

    <script th:src="@{/webjars/jquery-validation/1.17.0-1/additional-methods.min.js}"
            type="text/javascript"></script>

    <!-- InputMask -->
    <script th:src="@{/webjars/jquery.inputmask/4.0.0/jquery.inputmask.bundle.js}"
            type="text/javascript"></script>

    <script>
        function setFormValidation(id) {
            $(id).validate({
                highlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                    $(element).closest('.form-check').removeClass('has-success').addClass('has-error');
                },
                success: function (element) {
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                    $(element).closest('.form-check').removeClass('has-error').addClass('has-success');
                },
                errorPlacement: function (error, element) {
                    $(element).closest('.form-group').append(error).addClass('has-error');
                },
                rules: {
                    "denunciante.telefone": {
                        pattern: /\(\d{2}\)\s\d{4,5}-\d{4}/
                    }
                }
            });
        }

        $(document).ready(function () {

            $("input.telefone").inputmask({
                mask: ["(99) 9999-9999", "(99) 99999-9999"],
                keepStatic: true
            });

            setFormValidation("RegisterValidation");

        });
    </script>
</template>

<!-- /page content -->
