<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Abrir Processo</title>
</head>

<!-- page content -->
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">


            <a class="btn" th:href="@{/processos}"><i class="fa fa-arrow-left"></i> Lista de Processos</a>

            <!--/*@thymesVar id="processo" type="br.com.imerljak.processos.entity.Processo"*/-->
            <form id="RegisterValidation" class="form-horizontal form-label-left"
                  th:action="@{/processos/adicionar}"
                  th:object="${processo}"
                  th:method="post"
                  enctype="multipart/form-data">

                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{versao}">

                <div class="card ">

                    <div class="card-header">
                        Formulário de Abertura de Processo
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Dados Gerais</h5>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group with-label">
                                    <label for="protocolo">Protocolo
                                        <span class="star">*</span></label>
                                    <input type="text" class="form-control" id="protocolo" required
                                           th:field="*{protocolo}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group with-label">
                                    <label for="concessionaria">
                                        Concessionaria
                                        <star class="star">*</star>
                                    </label>
                                    <select th:field="*{concessionaria}" id="concessionaria"
                                            class="form-control"
                                            required="required">
                                        <option th:each="concessionaria : ${concessionarias}"
                                                th:value="${concessionaria.id}"
                                                th:text="${concessionaria.nome}">
                                            Nome do Cargo
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group with-label">
                                    <label for="assunto">Assunto
                                        <span class="star">*</span></label>
                                    <input type="text" class="form-control" id="assunto" required th:field="*{assunto}">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group with-label">
                                    <label for="observacoes">Observações</label>
                                    <textarea type="text" class="form-control" id="observacoes"
                                              th:field="*{observacoes}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Interessados</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group with-label">
                                    <label for="revisor">
                                        Revisor
                                        <star class="star">*</star>
                                    </label>
                                    <select th:field="*{revisor}" id="revisor"
                                            class="form-control"
                                            required="required"
                                            data-title="Selecione o Revisor">
                                        <option th:each="revisor : ${revisoresRelatores}"
                                                th:value="${revisor.id}"
                                                th:text="${revisor.nome}">
                                            Nome do Cargo
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group with-label">
                                    <label for="relator">
                                        Relator
                                        <star class="star">*</star>
                                    </label>
                                    <select th:field="*{relator}" id="relator"
                                            class="form-control"
                                            required="required"
                                            data-title="Selecione o Relator">
                                        <option th:each="relator : ${revisoresRelatores}"
                                                th:value="${relator.id}"
                                                th:text="${relator.nome}">
                                            Nome do Cargo
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button class="btn btn-outline float-left" type="reset">
                            <i class="fa fa-broom"></i>Limpar
                        </button>
                        <button class="btn btn-primary float-right" type="submit">
                           <i class="fa fa-check"></i>Confirmar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<template layout:fragment="scripts" th:remove="tag">

    <!--  jQueryValidate  -->
    <script th:src="@{/webjars/jquery-validation/1.17.0-1/jquery.validate.min.js}"
            type="text/javascript"></script>

    <script th:src="@{/webjars/jquery-validation/1.17.0-1/additional-methods.min.js}"
            type="text/javascript"></script>

    <!-- InputMask -->
    <script th:src="@{/webjars/jquery.inputmask/4.0.0/jquery.inputmask.bundle.js}"
            type="text/javascript"></script>

    <script>
        function setFormValidation(id) {
            $(id).validate({
                highlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                    $(element).closest('.form-check').removeClass('has-success').addClass('has-error');
                },
                success: function (element) {
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                    $(element).closest('.form-check').removeClass('has-error').addClass('has-success');
                },
                errorPlacement: function (error, element) {
                    $(element).closest('.form-group').append(error).addClass('has-error');
                },
                rules: {
                    "denunciante.telefone": {
                        pattern: /\(\d{2}\)\s\d{4,5}-\d{4}/
                    }
                }
            });
        }

        $(document).ready(function () {

            $("input.telefone").inputmask({
                mask: ["(99) 9999-9999", "(99) 99999-9999"],
                keepStatic: true
            });

            setFormValidation("RegisterValidation");

        });
    </script>
</template>

<!-- /page content -->
