<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<div class="sidebar" th:data-image="@{/assets/img/por-do-sol.jpg}"  th:fragment="sidebar-menu">
    <!--
Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

Tip 2: you can also add an image using data-image tag
-->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a th:href="@{/}" class="simple-text logo-mini" th:text="#{application.name.short}">
            </a>
            <a th:href="@{/}" class="simple-text logo-normal" th:text="#{application.name.full}">
                Creative Tim
            </a>
        </div>

        <div class="user">
            <span class="photo">
                <img src="#" th:src="@{/assets/img/agesb_logo.svg}" alt="">
            </span>

            <div class="info">
                <a th:href="@{/}">
                    <span>
                        <span sec:authentication="name" th:remove="tag"></span>
                        <!--<b class="caret"></b>-->
                    </span>
                </a>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item"
                th:classappend="${#sidebarUtils.activeClass('/', true)}">
                <a class="nav-link" th:href="@{/}">
                    <i class="nc-icon nc-chart-pie-35"></i>
                    <p th:text="'Dashboard'">Dashboard</p>
                </a>
            </li>

            <li class="nav-item"
                sec:authorize="hasRole('GERENTE')"
                th:classappend="${#sidebarUtils.activeClass('/concessionarias')}">
                <a class="nav-link" th:href="@{/concessionarias}">
                    <i class="nc-icon nc-bus-front-12"></i>
                    <p th:text="'Concessionárias'">Icons</p>
                </a>
            </li>


            <li class="nav-item"
                sec:authorize="hasRole('GERENTE')"
                th:classappend="${#sidebarUtils.activeClass('/ouvidorias')}">
                <a class="nav-link"  th:href="@{/ouvidorias}">
                    <i class="nc-icon nc-tap-01"></i>
                    <p th:text="'Ouvidorias'">Typography</p>
                </a>
            </li>


            <li class="nav-item"
                sec:authorize="hasAnyRole('GERENTE', 'REVISOR_RELATOR')"
                th:classappend="${#sidebarUtils.activeClass('/processos')}">
                <a class="nav-link" th:href="@{/processos}">
                    <i class="nc-icon nc-notes"></i>
                    <p th:text="'Processos'">Table List</p>
                </a>
            </li>

            <li class="nav-item"
                sec:authorize="hasRole('ADMINISTRADOR')"
                th:classappend="${#sidebarUtils.activeClass('/usuarios')}">
                <a class="nav-link" th:href="@{/usuarios}">
                    <i class="nc-icon nc-circle-09"></i>
                    <p th:text="'Usuários'">User Profile</p>
                </a>
            </li>

        </ul>
    </div>
</div>
</html>
