<!DOCTYPE html>
<html lang="pt_BR"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Israel Merljak">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title th:text="#{application.name.full}">Page Title</title>
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css"
          th:href="@{/assets/vendor/buefy/buefy.min.css}">
</head>

<body>

<style type="text/css">

    html {
        scroll-behavior: smooth;
    }

    .is-flex.is-fullheight {
        height: 100%;
    }

    .is-flex.is-content-centered {
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

    .height-transition {
        transition: height .2s ease;
    }

    .component-fade-enter-active, .component-fade-leave-active {
        transition: opacity .2s ease;
    }

    .component-fade-enter, .component-fade-leave-to
        /* .component-fade-leave-active below version 2.1.8 */
    {
        opacity: 0;
    }

</style>

<div id="app">
    <nav class="navbar is-secondary is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" th:href="@{/cidadao}">
                <img th:src="@{/assets/img/agesb_logo.svg}" width="112" height="112">
            </a>

            <a role="button"
               class="navbar-burger burger"
               :class="{'is-active': isNavActive}"
               @click="isNavActive = !isNavActive"
               aria-label="menu"
               aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar" class="navbar-menu" :class="{'is-active': isNavActive}">
            <div class="navbar-start">
                <a class="navbar-item" href="#form-ouvidorias">
                    Inicio
                </a>

                <a class="navbar-item" href="#hero-ouvidorias">
                    Ouvidorias
                </a>

                <a class="navbar-item" href="#hero-processos">
                    Processos
                </a>
            </div>

            <div class="navbar-end">
                <a class="navbar-item is-hidden-desktop" href="/login">
                    Entrar
                </a>
                <div class="navbar-item is-hidden-touch">
                    <div class="buttons">
                        <a class="button is-light" href="/login">
                            Entrar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section id="form-ouvidorias" class="section hero is-fullheight is-bold is-primary">
        <div class="hero-body">
            <div class="container">
                <transition name="component-fade" mode="out-in">
                    <div class="columns" v-if="!showFormOuvidoria" key="hero">
                        <div class="column">
                            <h1 class="title is-size-1">Nos dê sua opinião :)</h1>
                            <h2 class="subtitle">Faça sua denúncia, reclamação, sugestão ou elogio..</h2>
                        </div>
                        <div class="column">
                            <div class="is-flex is-content-centered is-fullheight">
                                <button class="button is-primary is-inverted is-medium"
                                        @click="showFormOuvidoria = true">Nova Ouvidoria
                                </button>
                            </div>
                        </div>
                    </div>
                    <app-ouvidoria key="form" v-else @close-app-ouvidorias="showFormOuvidoria = false"></app-ouvidoria>
                </transition>
            </div>
        </div>
    </section>
    <section id="hero-ouvidorias" class="section hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Ouvidorias</h1>
                <b-table
                        paginated
                        backend-pagination
                        :data="ouvidorias.pageable.content"
                        :loading="ouvidorias.isLoading"
                        :per-page="ouvidorias.pageable.size"
                        :current-page="ouvidorias.pageable.number + 1"
                        :total="ouvidorias.pageable.totalElements"
                        @page-change="loadOuvidorias">
                    <template slot-scope="props">
                        <b-table-column field="protocolo" label="Protocolo">
                            {{ props.row.protocolo }}
                        </b-table-column>

                        <b-table-column field="concessionaria.nome" label="Ouvidoria">
                            {{ props.row.concessionaria.nome }}
                        </b-table-column>

                        <b-table-column field="dataCriacao" label="Data">
                            {{ props.row.dataCriacao | date }}
                        </b-table-column>

                        <b-table-column field="tipo" label="Tipo">
                            {{ props.row.tipo }}
                        </b-table-column>

                        <b-table-column field="situacao" label="Situação">
                            {{ props.row.situacao }}
                        </b-table-column>
                    </template>
                    <template slot="empty">
                        <section class="section">
                            <div class="content has-text-grey has-text-centered">
                                <p>
                                    <b-icon
                                            icon="emoticon-sad"
                                            size="is-large">
                                    </b-icon>
                                </p>
                                <p>Ops, não encontramos nada.</p>
                            </div>
                        </section>
                    </template>
                </b-table>
            </div>
        </div>
    </section>
    <section id="hero-processos" class="section hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Processos</h1>
                <b-table
                        paginated
                        backend-pagination
                        :data="processos.pageable.content"
                        :loading="processos.isLoading"
                        :per-page="processos.pageable.size"
                        :current-page="processos.pageable.number + 1"
                        :total="processos.pageable.totalElements"
                        @page-change="loadProcessos">
                    <template slot-scope="props">
                        <b-table-column field="protocolo" label="Protocolo">
                            {{ props.row.protocolo }}
                        </b-table-column>

                        <b-table-column field="concessionaria.nome" label="Ouvidoria">
                            {{ props.row.concessionaria.nome }}
                        </b-table-column>

                        <b-table-column field="dataCriacao" label="Data">
                            {{ props.row.dataCriacao | date }}
                        </b-table-column>

                        <b-table-column field="tipo" label="Tipo">
                            {{ props.row.tipo }}
                        </b-table-column>

                        <b-table-column field="situacao" label="Situação">
                            {{ props.row.situacao }}
                        </b-table-column>
                    </template>
                    <template slot="empty">
                        <section class="section">
                            <div class="content has-text-grey has-text-centered">
                                <p>
                                    <b-icon
                                            icon="emoticon-sad"
                                            size="is-large">
                                    </b-icon>
                                </p>
                                <p>Ops, não encontramos nada.</p>
                            </div>
                        </section>
                    </template>
                </b-table>
            </div>
        </div>
    </section>
</div>

<script src="https://unpkg.com/vue" th:src="@{/assets/vendor/vue/vue.js}"></script>
<script src="https://unpkg.com/buefy/dist/buefy.min.js" th:src="@{/assets/vendor/buefy/buefy.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.4.4/cleave.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/2.1.4/vee-validate.min.js"></script>


<script>

    var DATE_FORMATTER = new Intl.DateTimeFormat("pt-BR");

    Vue.filter('date', function (value) {
        return DATE_FORMATTER.format(new Date(value));
    });

    Vue.component("app-ouvidoria", {
        data: function () {
            return {
                concessionarias: [],
                tipoOuvidoria: null,
                step: 0,
                ouvidoria: {
                    cidadao: {},
                    concessionaria: {}
                }
            }
        },
        computed: {
            isDenuncia: function () {
                return this.tipoOuvidoria === 'denuncia'
            },
            isReclamacao: function () {
                return this.tipoOuvidoria === 'reclamacao'
            },
            isSugestao: function () {
                return this.tipoOuvidoria === 'sugestao'
            },
            isElogio: function () {
                return this.tipoOuvidoria === 'elogio'
            }
        },
        methods: {
            close: function () {
                this.$emit("close-app-ouvidorias");
            },
            next: function () {
                this.step++;
            },
            previous: function () {
                if (this.step > 0)
                    this.step--;
            },
            submit: function () {
                alert("BANG!")
            }
        },
        template: "<div>" +
            "<form action='#' class='has-text-light'>" +
            "    <div class='card'>" +
            "        <header class='card-header'>" +
            "            <p class='card-header-title'>Formulário de Ouvidoria</p>" +
            "        </header>" +
            "        <div class='card-content'>" +
            "            <transition name=\"component-fade\" mode=\"out-in\">" +
            "                <div v-if='step == 0' class='content' key='s0'>" +
            "                    <b-field label='O que você deseja fazer?'>" +
            "                        <b-select required expanded v-model='tipoOuvidoria' placeholder='Selecione uma opção'>" +
            "                            <option value='denuncia'>Uma denúncia!</option>" +
            "                            <option value='reclamacao'>Quero reclamar!</option>" +
            "                            <option value='sugestao'>Dar uma sugestão.</option>" +
            "                            <option value='elogio'>Fazer um elogio <3</option>" +
            "                        </b-select>" +
            "                    </b-field>" +
            "                </div>" +
            "                <div v-else-if='step == 1' key='s1'>" +
            "                    <div class='content'>" +
            "                        <b-field label='Qual é a concessionária em questão?'>" +
            "                            <b-select required expanded v-model='ouvidoria.concessionaria.id' placeholder='-- Selecione --'>" +
            "                                <option v-for='c of concessionarias' :value='c.id'> {{ c.nome }} </option>" +
            "                            </b-select>" +
            "                        </b-field>" +
            "                    </div>" +
            "                </div>" +
            "                <div v-else-if='step == 2' key='s2'>" +
            "                    <div class='content'>" +
            "                        <b-field label='Qual seu nome?'>" +
            "                            <b-input required expanded v-model='ouvidoria.cidadao.nome'></b-input>" +
            "                        </b-field>" +
            "                        <b-field label='Qual seu CPF ou CNPJ?'>" +
            "                            <b-input required expanded v-model='ouvidoria.cidadao.documento'></b-input>" +
            "                        </b-field>" +
            "                        <b-field label='Qual seu email?'>" +
            "                            <b-input required expanded v-model='ouvidoria.cidadao.email'></b-input>" +
            "                        </b-field>" +
            "                        <b-field label='Informe seu telefone de contato (Opcional).'>" +
            "                            <b-input expanded v-model='ouvidoria.cidadao.telefone'></b-input>" +
            "                        </b-field>" +
            "                        <b-field label='Seu endereço.'>" +
            "                            <b-input required expanded v-model='ouvidoria.cidadao.endereco'></b-input>" +
            "                        </b-field>" +
            "                    </div>" +
            "                </div>" +
            "                <div v-else-if='step == 3' key='s3'>" +
            "                    <div class='content'>" +
            "                        <b-field label='O que aconteceu?'>" +
            "                            <b-input type='textarea' maxlength='350' required expanded v-model='ouvidoria.manifestacao'></b-input>" +
            "                        </b-field>" +
            "                        <b-field label='Quando foi isso?'>" +
            "                            <b-datepicker placeholder='Clique para selecionar...' icon='calendar-today'>" +
            "                            </b-datepicker>" +
            "                        </b-field>" +
            "                        <b-field label='Informe o local da ocorrência.'>" +
            "                            <b-input required expanded v-model='ouvidoria.localOcorrencia'></b-input>" +
            "                        </b-field>" +
            "                        <b-field>" +
            "                            <b-upload v-model='dropFiles' multiple drag-drop expanded>" +
            "                                <section class='section'>" +
            "                                    <div class='content has-text-centered'>" +
            "                                        <p>" +
            "                                            <b-icon" +
            "                                                icon='upload'" +
            "                                                size='is-large'>" +
            "                                            </b-icon>" +
            "                                        </p>" +
            "                                        <p>Clique ou arraste seus arquivos aqui para enviar..</p>" +
            "                                    </div>" +
            "                                </section>" +
            "                            </b-upload>" +
            "                        </b-field>" +
            "                        <div class='tags'>" +
            "                            <span v-for='(file, index) in dropFiles'" +
            "                                :key='index'" +
            "                                class='tag is-primary' >" +
            "                                {{file.name}}" +
            "                                <button class='delete is-small'" +
            "                                    type='button'" +
            "                                    @click='deleteDropFile(index)'>" +
            "                                </button>" +
            "                            </span>" +
            "                        </div>" +
            "                    </div>" +
            "                </div>" +
            "            </transition>" +
            "        </div>" +
            "        <footer class='card-footer'>" +
            "            <a href='#' class='card-footer-item' @click='step == 0 ? close() : previous()'>" +
            "                <span v-if='step == 0'>Cancelar</span>" +
            "                <span v-else='step == 0'>Voltar</span>" +
            "            </a>" +
            "            <a href='#' class='card-footer-item' @click='step == 4 ? submit() : next()'>" +
            "                <span v-if='step < 4'>Continuar</span>" +
            "                <span v-if='step == 4'>Submeter</span>" +
            "            </a>" +
            "        </footer>" +
            "    </div>" +
            "</form></div>"
    });

    new Vue({
        el: "#app",
        data: {
            showFormOuvidoria: false,
            isNavActive: false,
            ouvidorias: {
                pageSize: 5,
                isLoading: false,
                pageable: {}
            },
            processos: {
                pageSize: 5,
                isLoading: false,
                pageable: {}
            },
            isPaginated: true
        },
        created: function () {
            this.loadOuvidorias(1);
            this.loadProcessos(1);
        },
        methods: {
            loadProcessos: function (page) {
                var instance = this;

                fetch("cidadao/processos?page=" + (page - 1) + "&size=" + this.processos.pageSize)
                    .then(function (value) {
                        return value.json()
                    })
                    .then(function (value) {
                        instance.processos.pageable = value
                    })
                    .then(function () {
                        instance.processos.isLoading = false
                    })
            },
            loadOuvidorias: function (page) {
                var instance = this;

                fetch("cidadao/ouvidorias?page=" + (page - 1) + "&size=" + this.ouvidorias.pageSize)
                    .then(function (value) {
                        return value.json()
                    })
                    .then(function (value) {
                        instance.ouvidorias.pageable = value
                    })
                    .then(function () {
                        instance.ouvidorias.isLoading = false
                    })
            }
        }
    })
</script>

</body>
</html>